table {
	width:100%;
	border-collapse: collapse;
	margin:20px 0;
}
th {
	border:1px solid black;
	text-align:left;
	background-color:red;
}
td{
	border:1px solid black;
}
td:first-child {
	text-align:left;
}
td:not(:first-child) {
	text-align:right;
}


